body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  padding-left: 15%; 
}

.navbar {
  width: 15%;
  background-color: #fbfbfb;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100vh; 
  position: fixed;
  top: 0; 
  left: 0; 
}

.btn {
  border-radius: 8px;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  background: #ffffff;
  padding: 15px 30px;
  border: solid #070707 2px;
  text-decoration: none;
}

.btn2 {
  border-radius: 8px;
  font-family: Arial;
  color: #000000;
  font-size: 18px;
  background: #ffffff;
  padding: 15px 30px;
  border: solid #070707 2px;
  text-decoration: none;
  width: 30rem;
  margin: 1rem;
}

.btn:hover {
  background: #f9fafa;
  text-decoration: none;
  cursor: pointer;
}

.navbar-items li {
  padding-bottom: 1.4rem;
  font-size: 1rem;
}

.callerName {
  flex: 1;
  overflow-y: auto;
  padding: 3rem; 
}
